INDEX_SERVICE:
  host: "http://localhost:8002"

  metadata_db:
    db_url: "postgresql://paperignition:Paperignition111@pgm-bp1xv040n53x75ai6o.pg.rds.aliyuncs.com:5432/paperignition"
    # Aliyun RDS - Production metadata database

APP_SERVICE:
  host: "http://localhost:8080"

USER_DB:
  db_user: paperignition
  db_password: "Paperignition111"
  db_host: pgm-bp1xv040n53x75ai6o.pg.rds.aliyuncs.com
  db_port: "5432"
  db_name: paperignition_user
  # Aliyun RDS - Production user database

PAPER_STORAGE:
  json_folder: ""

OPENAI_SERVICE:
  base_url: "https://api.deepseek.com"
  api_key: "sk-7d1b4bfa589c45f9a352d3e22623eec1"